<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-doc-scanner" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>DocScanner</name>
    <platform name="android">

        <js-module name="DocScannerPlugin" src="www/DocScannerPlugin.js">
            <clobbers target="DocScannerPlugin" />
        </js-module>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DocScannerPlugin">
                <param name="android-package" value="com.exadel.docscanplugin.DocScannerPlugin" />
            </feature>
        </config-file>

        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
        </config-file>

        <framework src="com.quickbirdstudios:opencv:4.3.0" />
        <framework src="androidx.appcompat:appcompat:1.2.0" />
        <framework src="src/android/config.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/android-doc-scan-release-1.0.aar" target="libs/android-doc-scan-release-1.0.aar" />
        <source-file src="src/android/DocScannerPlugin.java" target-dir="src/com/exadel/docscanplugin" />

    </platform>
</plugin>
